extends ../main/_layout

block content
  div.text-center
      strong 
        p #{summoner.name}
        p #{summoner.leagues.name}
        p Summoner Level: <strong>#{summoner.summonerLevel}</strong>
        img(src = summoner.iconLink)
        each league in summoner.leagues
          p League name: #{league.name}
          p Division: #{league.tier} 
            each entry in league.entries
              span #{entry.division}
              span  #{entry.leaguePoints} LP
              P.text-success Ranked Wins: #{entry.wins}
              p.text-danger Ranked Losses: #{entry.losses}
        button.btn.btn-success
          | Search Active Game
