extends ../main/_layout

block content
  div.text-center
      strong 
        p #{summoner.name}
        p Summoner Level: <strong>#{summoner.summonerLevel}</strong>
        img(src = summoner.iconLink)
        if summoner.leagues
          each league in summoner.leagues
            p Queue type: #{league.queue}
            p League name: #{league.name}
            p Division: #{league.tier} 
              each entry in league.entries
                span #{entry.division}
                span  #{entry.leaguePoints} LP
                P.text-success Ranked Wins: #{entry.wins}
                p.text-danger Ranked Losses: #{entry.losses}
        else
          p League name: No League
          p Division: Unranked
          p.text-success Ranked Wins: 0
          p.text-danger Ranked Losses: 0
        a.btn.btn-success(href='/gameinfo?summonername=' + summoner.name + '&region=' + summoner.region)
          | Search Active Game
